@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: montserrat;
}

:root {
  --dark-cyan: hsl(158, 36%, 37%);
  --cream: hsl(30, 38%, 92%);
  --very-dark-blue: hsl(212, 21%, 14%);
  --dark-grayish-blue: hsl(228, 12%, 48%);
  --white: hsl(0, 0%, 100%);
  --dar-green: hsl(120, 100%, 11%);
}

body {
  background-color: var(--cream);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 14px;
}

.card-container {
  max-width: 565px;
  max-height: fit-content;
  background-color: var(--white);
  border-radius: 15px;
  overflow: hidden;
  margin: 30px;
  display: flex;
}

.img-container {
  width: 50%;
}

.desktop-img {
  display: block;
  width: 100%;
  height: 100%;
}

.mobile-img {
  display: none;
}

.content-container {
  width: 50%;
  padding: 24px;
}

h3 {
  text-transform: uppercase;
  font-weight: 100;
  letter-spacing: 4px;
  color: var(--dark-grayish-blue);
}

h1 {
  color: var(--very-dark-blue);
  text-transform: capitalize;
  font-weight: 700;
  margin: 15px 0;
  font-family: Fraunces;
  font-size: 31px;
  line-height: 30px;
}

p {
  color: var(--dark-grayish-blue);
  line-height: 25px;
}

.description-area {
  margin-bottom: 40px;
}

.price-area {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.with-discount {
  font-size: 35px;
  font-weight: 600;
  padding-right: 30px;
  color: var(--dark-cyan);
  font-family: Fraunces;
}

.without-discount {
  text-decoration: line-through;
  color: var(--dark-grayish-blue);
}

button {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  background-color: var(--dark-cyan);
  cursor: pointer;
}

button:hover {
  background-color: var(--dar-green);
}

button img {
  padding-right: 10px;
}

button p {
  color: var(--white);
}

@media (max-width: 1500px) {
  .card-container {
    max-width: 375px;
    display: block;
  }

  .img-container {
    width: 100%;
  }

  .mobile-img {
    display: block;
    width: 100%;
  }

  .desktop-img {
    display: none;
  }

  .content-container {
    width: 100%;
  }
}
